# Dependency directories
**/node_modules/
**/dist/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Environment & Secrets
**/.env
**/.env.*
!**/.env.example

# IDE & Editor
.idea/
.vscode/
*.iml

# Logs & OS Files
*.log
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db
